<template>
  <div class="container px-10 lg:px-0 h-full w-full mx-auto flex justify-center items-center relative" @keydown.delete="receedClicked" @keydown.enter="proceedClicked">
    <div class="wizard flex flex-col items-center w-full pb-6">
      <h1 class="text-grey-darker font-light text-4xl text-center mb-16" v-if="step == 1">Select a website image source</h1>
      <h1 class="text-grey-darker font-light text-4xl text-center mb-16" v-if="step == 2">Select your desired style</h1>
      <h1 class="text-grey-darker font-light text-4xl text-center mb-16" v-if="step == 3">Select your desired viewport</h1>
      <h1 class="text-grey-darker font-light text-4xl text-center mb-16" v-if="step == 4">Select your desired scroll speed</h1>
      <h1 class="text-grey-darker font-light text-4xl text-center mb-16" v-if="step == 5">Review your configuration</h1>
      <div class="flex flex-col mb-20 w-full max-w-md mx-auto" v-show="step == 1">
        <div class="wizard-card hover:opacity-100 w-full bg-white rounded border" :class="classForSource(0)" @click="sourceSelected(0)">
          <div class="p-4 flex items-center justify-center cursor-pointer h-24">
            <p class="font-normal text-lg" v-show="source !== 0">Enter a webpage URL</p>
            <input type="text" id="urlInput" class="bg-transparent text-grey-darkest w-2/3 py-2 rounded px-8 border border-blue-dark font-normal text-lg text-center outline-none focus:outline-none" v-show="source == 0" placeholder="Ex: https://example.com" v-model="webpageUrl"/>
          </div>
        </div>
        <p class="font-normal text-md my-4 table mx-auto text-grey-dark">OR</p>
        <div class="wizard-card cursor-pointer relative hover:opacity-100 w-full mb-4 bg-white rounded border" :class="classForSource(1)" @click="sourceSelected(1)">
					<div class="flex justify-center items-center bg-transparent absolute pin-l pin-r pin-b pin-t droplay" :class="{ 'dragging' : isDraggingFile }">
            <svg class="fill-current text-white w-16 16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M431.3 388.8c7.5-6.3 16.7-16.1 16.7-31.4 0-13.7-5.7-22.8-10.9-29.1-.6-1.2-1.1-2.3-1.6-3.4l-.2-1.1c-.7-3.5 0-7.1 2-10 3.4-5 5.8-12.3 5.8-25.7 0-11.6-4.8-18.4-9.7-23.2-4.4-4.3-6.1-12.5-4.1-18.3 4.8-13.9.2-28.4-8.2-37.8-10.5-11.8-20.3-13.2-46.4-11.7-18 1.1-55.5 6.9-80.2 10.8-10.1 1.6-18.9 3-21.6 3.2-12.7 1.3-15.2 0-16.4-4.9-.5-2.1 1.9-6.9 4.9-13 4-8.1 9.5-19.2 14.5-35.8 10.1-33.2 9-69.2-2.7-90.2-5.5-9.9-14.8-19.1-26.3-19.1S223.6 50.5 219 56c-3.4 4-2.3 11.6-6.2 26.8-3.1 12.4-7 30.9-12 42-7.5 16.6-39.7 45.1-57 60.4-4.1 3.6-7.6 6.7-10.1 9.1-8.7 8.1-17.6 21.1-25.5 32.7-5.4 7.8-10.4 15.2-13.7 18.5-7.1 7.1-16.6 10.9-22.3 10.9-4.4 0-8 3.6-8 8v159.5c0 4.6 3.7 8.3 8.3 8.3 35.5 0 50.5 5.8 66.4 11.8 12.2 4.7 24.9 9.5 46.4 12.1 32.4 4 74.2 8.1 112.6 8.1 20.4 0 39.9-2 56.6-3.9 31-3.6 64.2-10.8 75.2-37 4.1-9.7 2.2-17.6-.5-23.7-.4-.8-.7-1.7-.8-2.6-.6-3.3.6-6.3 2.9-8.2z"/></svg>
          </div>
          <div class="p-4 flex items-center justify-center cursor-pointer h-24">
            <div class="w-full flex items-center justify-center h-full rounded" :class="classForDropbox">
              <p class="font-normal text-lg text-center" :class="{ 'text-blue-dark' : source == 1  }" v-if="!loadedImage">Drag and drop a webpage screenshot</p>
							<p class="font-normal text-lg text-center" :class="{ 'text-blue-dark' : source == 1  }" v-else>{{ loadedImage.name }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex mb-20 w-full" v-show="step == 2">
        <div class="wizard-card hover:opacity-100 w-1/3 mr-4 bg-white rounded border" :class="classForStyle(0)" @click="styleSelected(0)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <div class="rounded-tr rounded-tl bg-white">
              <img class="fade" src="/img/screenonly.png">
            </div>
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : style == 0  }">Screenshot only</p>
          </div>
        </div>
        <div class="wizard-card hover:opacity-100 w-1/3 mr-4 bg-white rounded border" :class="classForStyle(1)" @click="styleSelected(1)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <div class="rounded-tr rounded-tl" :style="bgColor">
              <img class="fade w-full" src="/img/centerscreen.png">
            </div>
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : style == 1  }">Center-aligned</p>
          </div>
        </div>
        <div class="wizard-card hover:opacity-100 w-1/3 bg-white rounded border" :class="classForStyle(2)" @click="styleSelected(2)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <div class="rounded-tr rounded-tl flex flex-col justify-end" :style="bgColor">
              <img class="fade w-full" src="/img/bottomscreen.png">
            </div>
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : style == 2  }">Bottom-aligned </p>
          </div>
        </div>
      </div>
      <div class="flex mb-20 w-full" v-show="step == 3">
        <div class="wizard-card hover:opacity-100 w-1/3 mr-4 bg-white rounded border" :class="classForViewport(0)" @click="viewportSelected(0)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <img class="svg fade" src="/svg/phone.svg">
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : viewport == 0  }">Phone</p>
          </div>
        </div>
        <div class="wizard-card hover:opacity-100 w-1/3 mr-4 bg-white rounded border" :class="classForViewport(1)" @click="viewportSelected(1)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <img class="svg fade" src="/svg/tablet.svg">
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : viewport == 1  }">Tablet</p>
          </div>
        </div>
        <div class="wizard-card hover:opacity-100 w-1/3 bg-white rounded border" :class="classForViewport(2)" @click="viewportSelected(2)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <img class="svg fade" src="/svg/desktop.svg">
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : viewport == 2  }">Desktop</p>
          </div>
        </div>
      </div>
      <div class="flex mb-20 w-full" v-show="step == 4">
        <div class="wizard-card hover:opacity-100 w-1/3 mr-4 bg-white rounded border" :class="classForSpeed(0)" @click="speedSelected(0)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <img class="svg fade" src="/svg/car.svg">
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : speed == 0  }">Slow</p>
          </div>
        </div>
        <div class="wizard-card hover:opacity-100 w-1/3 mr-4 bg-white rounded border" :class="classForSpeed(1)" @click="speedSelected(1)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <img class="svg fade" src="/svg/plane.svg">
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : speed == 1  }">Medium</p>
          </div>
        </div>
        <div class="wizard-card hover:opacity-100 w-1/3 bg-white rounded border" :class="classForSpeed(2)" @click="speedSelected(2)">
          <div class="flex flex-col items-center justify-center cursor-pointer">
            <img class="svg fade" src="/svg/rocket.svg">
            <p class="font-normal p-4 text-lg text-center" :class="{ 'text-blue-dark' : speed == 2  }">Fast</p>
          </div>
        </div>
      </div>
      <div class="flex mb-20 w-full" v-show="step == 5">
        <div class="wizard-card opacity-100 w-2/3 max-w-sm mx-auto bg-white rounded border">
          <div class="flex items-center justify-center">
            <div class="flex flex-col w-full items-center">
              <div class="flex justify-center items-center overflow-hidden relative w-full border-b" style="height: 300px;">
                <img :src="screenshotUrl" class="rounded absolute pin-t w-full screenshot" :style="screenshotStyle" ref="image" v-show="screenshotUrl !== ''"/>
                <p class="font-normal text-center text-grey-darker text-2xl flex flex-col" v-show="screenshotUrl == '' && loadingScreenshot && !screenshotError">
                  <i class="fas fa-spinner fa-spin mb-4"></i><span>Checking availability</span>
                </p>
								<p class="font-normal text-center text-grey-darker flex flex-col" v-show="screenshotUrl == '' && !loadingScreenshot && screenshotError" v-tooltip="{ content: 'We were unable to ping the provided website. Please try again.', placement: 'top', trigger: 'hover' }">
                  <i class="fas fa-info-circle mb-4 text-5xl"></i><span class="text-2xl">Website unavailable</span>
                </p>
              </div>
              <div class="flex-grow flex w-full p-5 items-center">
                <div class="flex flex-col flex-grow">
                  <p class="font-semibold text-md mb-2" v-if="source == 0">{{ webpageUrl }}</p>
                  <p class="font-semibold text-md mb-2" v-else>Uploaded Screenshot</p>
                  <p class="font-normal text-sm capitalize">{{ ['Slow', 'Medium', 'Fast'][this.speed] }} | {{ ['Phone', 'Tablet', 'Desktop'][this.viewport] }}</p>
                </div>
                <!-- <div class="flex flex-col ml-2 items-end">
                  <p class="font-semibold text-sm mb-2 flex items-center">Ping Pong Mode<i class="pl-1 fas fa-info-circle" v-tooltip="{ content: 'The screenshot will scroll back to the top after scrolling down.', placement: 'top', trigger: 'hover' }"></i></p>
                  <div class="form-switch">
                    <input type="checkbox" name="1" id="1" v-model="shouldLoop" class="form-switch-checkbox"/>
                    <label class="form-switch-label" for="1"></label>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="bg-blue-dark shadow text-white rounded-full h-16 w-16 absolute pin-b pin-l ml-10 lg:ml-0 mb-8 flex items-center justify-center focus:outline-none outline-none" v-if="step > 1" @click="receedClicked">
       <svg style="transform: rotate(90deg);" class="fill-current text-white h-6 w-6 block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163c-.409-.418-.436-1.17 0-1.615z"/></svg>
    </button>
    <button class="bg-blue-dark shadow text-white rounded-full h-16 w-16 absolute pin-b pin-r mr-10 lg:mr-0 mb-8 flex items-center justify-center focus:outline-none outline-none" :class="proceedButtonClasses" @click="proceedClicked">
       <svg style="transform: rotate(270deg);" class="fill-current text-white h-6 w-6 block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163c-.409-.418-.436-1.17 0-1.615z"/></svg>
    </button>
    <portal to="color" v-if="showColorPicker">
      <div class="pin max-h-screen overflow-hidden h-screen fixed w-full flex flex-col items-center justify-center bg-light-smoke z-max" @click.self="showColorPicker = false">
        <picker v-model="chosenBackgroundColor"></picker>
      </div>
    </portal>
  </div>
</template>

<script>
import { Sketch } from 'vue-color'
export default {
  components: { 'picker' : Sketch },
  store: ['bus', 'isDev', 'user'],
  data: () => ({
    step: 1,
    showColorPicker: false,
    hasBackground: false,
    shouldLoop: false,
    style: -1,
    source: -1,
    speed: -1,
    viewport: -1,
    webpageUrl: '',
    screenshotUrl: '',
    loadedImage: null,
    isDraggingFile: false,
    isProcessing: false,
    loadingScreenshot: false,
    canScroll: false,
		chosenBackgroundColor: '#92b9dc',
		validFile: -1,
		screenshotError: false
  }),
  computed: {
    bgColor(){
      return {
        backgroundColor: typeof(this.chosenBackgroundColor) == 'string' ? this.chosenBackgroundColor : this.chosenBackgroundColor.hex
      }
    },
    canProceed(){
      if(this.step == 1) {
        if(this.source == 0)
          return this.webpageUrl !== '' && this.isUrl(this.webpageUrl)
        if(this.source == 1)
          return this.loadedImage !== null
      }
      if(this.step == 2) return this.style > -1
      if(this.step == 3) return this.viewport > -1
      if(this.step == 4) return this.speed > -1
      if(this.step == 5) return !this.isProcessing && this.screenshotUrl !== ''
    },
    canReceed(){
      return this.step > 1
    },
    classForDropbox(){
      return this.source == 1 ? 'border border-dashed border-blue-dark' : ''
    },
    proceedButtonClasses(){
      return this.canProceed ? 'opacity-100 cursor-pointer' : 'opacity-50 cursor-not-allowed'
    },
    screenshotStyle(){
      if(this.screenshotUrl !== ''){
        const bottom = Math.abs(this.$refs.image.clientHeight - 300)
        if(this.canScroll && bottom > 0 && this.step == 5){
          if(this.speed == 0){
            return { 'top': `-${bottom}px`, 'transition': 'top 14s linear 2s' }
          } else if(this.speed == 1){
            return { 'top': `-${bottom}px`, 'transition': 'top 7s linear 2s' }
          } else if(this.speed == 2){
            return { 'top': `-${bottom}px`, 'transition': 'top 4s linear 2s' }
          }
        }
        return { 'top': '0px' }
      }
      return {}
    }
  },
  methods: {
    classForStyle(identifier){
      return this.style == identifier ? 'border-blue-dark opacity-100 paper' : 'opacity-85'
    },
    classForSource(identifier){
      return this.source == identifier ? 'border-blue-dark opacity-100 paper' : 'opacity-85'
    },
    classForSpeed(identifier){
      return this.speed == identifier ? 'border-blue-dark opacity-100 paper' : 'opacity-85'
    },
    classForViewport(identifier){
      return this.viewport == identifier ? 'border-blue-dark opacity-100 paper' : 'opacity-85'
    },
    proceedClicked(){
      if(this.canProceed){
        if(this.step == 3 && this.source == 0){
          this.loadingScreenshot = true
          axios.post('/api/videos/screenshot', {
            url: this.webpageUrl,
            viewport: ['Phone', 'Tablet', 'Desktop'][this.viewport].toLowerCase()
          }).then(data => {
            this.screenshotUrl = data.data.image
            this.loadingScreenshot = false
          }).catch(err => {
						this.loadingScreenshot = false
						this.screenshotError = true
					})
        } else if(this.step == 3 && this.source == 1){
          if(this.loadedImage !== null){
            this.screenshotUrl = URL.createObjectURL(this.loadedImage)
          }
        }
        if(this.step == 5){
          this.submit()
        } else {
          this.step = this.step + 1
        }
      }
    },
    receedClicked(){
      if(this.step > 1){
        this.step = this.step - 1
      }
    },
    sourceSelected(identifier){
      this.source = identifier
    },
    speedSelected(identifier){
      this.speed = identifier
    },
    viewportSelected(identifier){
      this.viewport = identifier
    },
    styleSelected(identifier){
      this.style = identifier
      if(identifier > 0) this.showColorPicker = true
    },
    isUrl(str) {
      const pattern = new RegExp(
        "^" + "(?:(?:(?:https?):)?\\/\\/)" +
        "(?:\\S+(?::\\S*)?@)?" +
        "(?:" + "(?!(?:10|127)(?:\\.\\d{1,3}){3})" +
        "(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})" +
        "(?!172\\.(?:1[6-9]|2\\d|3[0-1])(?:\\.\\d{1,3}){2})" +
        "(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])" +
        "(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}" +
        "(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))" +
        "|" + "(?:" + "(?:" + "[a-z0-9\\u00a1-\\uffff]" +
        "[a-z0-9\\u00a1-\\uffff_-]{0,62}" + ")?" +
        "[a-z0-9\\u00a1-\\uffff]\\." + ")+" +
        "(?:[a-z\\u00a1-\\uffff]{2,}\\.?)" + ")" +
        "(?::\\d{2,5})?" + "(?:[/?#]\\S*)?" + "$", "i"
      )
      return pattern.test(str)
    },
    submit(){
      this.isProcessing = true
      let data = new FormData()
      data.append('background', this.style > 0)
      data.append('should_loop', this.shouldLoop)
      data.append('rate', ['slow', 'medium', 'fast'][this.speed])
      data.append('screenshot', this.screenshotUrl)
      data.append('viewport', ['phone', 'tablet', 'desktop'][this.viewport])
      data.append('from_screenshot', this.source == 1)
      if(this.source == 1){
        data.append('image', this.loadedImage)
      } else {
        data.append('url', this.webpageUrl)
      }
      if(this.style > 0){
        let position = 'center'
        if(this.style == 2) position = 'bottom'
        data.append('position', position)
        data.append('background_color', `'${this.bgColor.backgroundColor}'`)
      }
      axios.post('/api/videos', data).then(data => {
        this.$message({
          message: 'Your video is processing.',
          type: '',
          showClose: false
        })
        setTimeout(() => {
          this.$router.push('/dashboard/screenshots')
        }, 1200)
      }).catch(error => {
        this.$message({
          message: 'Something went wrong while trying to create your video.',
          type: '',
          showClose: true
        })
        this.isProcessing = false
      })
    }
  },
  mounted(){
    let dragTimer
		setTimeout(() => {
			let dropzone = document.getElementById('app')
			;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
				dropzone.addEventListener(eventName, e => {
					e.preventDefault()
					e.stopPropagation()
				}, false)
			})
			dropzone.addEventListener('dragover', (e) => {
				let dt = e.dataTransfer
				if (dt.types && (dt.types.indexOf ? dt.types.indexOf('Files') != -1 : dt.types.contains('Files'))) {
					if(this.source == 1){
						this.isDraggingFile = true
						clearTimeout(dragTimer)
					}
				}
			})
			dropzone.addEventListener('dragleave', (e) => {
				dragTimer = setTimeout(() => {
					this.isDraggingFile = false
					this.validFile = false
				}, 25)
			})
			dropzone.addEventListener('drop', (e) => {
				let dt = e.dataTransfer
				let files = Array.from(dt.files)
				const lastFile = files[files.length - 1]
				if(this.source == 1){
          if(['image/jpeg', 'image/png'].includes(lastFile.type)){
            this.loadedImage = lastFile
            this.validFile = true
            setTimeout(() => {
              this.isDraggingFile = false
              setTimeout(() => {
                this.validFile = -1
              }, 400)
            }, 1200)
          } else {
            this.$message({
              message: 'This file type is not accepted.',
              type: '',
              showClose: false
            })
            this.loadedImage = null
            this.validFile = false
            setTimeout(() => {
              this.isDraggingFile = false
              setTimeout(() => {
                this.validFile = -1
              }, 400)
            }, 1200)
          }
        }
			}, false)
		}, 1000)
  },
  watch: {
    step(value, prevValue){
      if(prevValue == 5){
        this.canScroll = false
      } else if(value == 5 && prevValue == 4){
        const testScreenshotPresence = setInterval(() => {
          if(this.screenshotUrl !== ''){
            setTimeout(() => {
              this.canScroll = true
              clearInterval(testScreenshotPresence)
            }, 1000)
          }
        }, 30)
      }
    },
    source(identifier){
      if(identifier == 0){
        const element = document.getElementById('urlInput')
        element.focus()
      }
    },
    viewport(identifier){
      this.canScroll = false
      this.screenshotUrl = ''
    },
    webpageUrl(){
      this.screenshotUrl = ''
    }
  }
}

</script>


<style lang="stylus" scoped>
.droplay
  background rgba(39, 121, 189,.65)
  opacity 0
  transition all .2s ease
  &.dragging
    opacity 1
.wizard-card
  transition all .3s ease
  p
    transition all .3s ease
  .screenshot
    top 0
    transition-delay 1.7s
.wizard
  img.fade
    opacity .69
  img.svg
    height 290px
</style>
