<template>
  <div class="w-full flex flex-wrap container px-10 lg:px-0 mx-auto p-4 py-8" :class="rootClass">
    <div class="px-0 sm:px-2 mb-6 w-full sm:w-1/2 lg:w-1/3" v-for="video in sortedVideos" :key="video.id" v-if="videos.length > 0">
      <div class="video-card w-full bg-white rounded border relative" :class="{'opacity-100' : !previewVisible, 'opacity-0' : previewVisible }" style="transition: all .3s ease;">
        <div class="card-top rounded-tr rounded-tl" v-bind:style="{ 'background-image': 'url(' + video.data.screenshot + ')' }"></div>
        <div class="p-4 px-8 flex flex-col items-center justify-center bg-white border-t rounded-bl rounded-br">
          <p class="font-semibold text-center text-md mb-2 w-full overflow-hidden" v-if="!video.data.from_screenshot" style="text-overflow: ellipsis;">{{ video.data.url }}</p>
           <p class="font-semibold text-md mb-2 text-center" v-if="video.data.from_screenshot">Uploaded Screenshot</p>
          <p class="font-normal text-sm capitalize text-center">{{ video.data.rate }} | {{ video.data.viewport }}</p>
        </div>
        <div class="absolute pin overlay flex flex-col items-center justify-center p-8 rounded" v-if="video.is_transcoded || video.is_perma_failed">
          <a class="block no-underline w-3/4 mx-auto" :href="'/api/videos/' + video.id" v-if="!video.is_perma_failed">
            <button class="font-normal py-2 px-4 hover:bg-white hover:text-blue-dark border border-white rounded outline-none focus:outline-none text-white w-full flex items-center justify-center mb-4">
              <svg class="pb-1 h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M376 144H269v179.9l47.9-47.2c5.1-5 13.3-5 18.4.1 5 5.1 5 13.3-.1 18.4l-70 69c-2.5 2.4-5.8 3.7-9.1 3.7-1.7 0-3.4-.3-5-1-1.5-.6-2.9-1.6-4.1-2.7l-70-69c-5.1-5-5.2-13.3-.1-18.4 5-5.1 13.3-5.2 18.4-.1l47.9 47.2V144H136c-22 0-40 18-40 40v240c0 22 18 40 40 40h240c22 0 40-18 40-40V184c0-22-18-40-40-40zM269 61c0-7.2-5.8-13-13-13s-13 5.8-13 13v83h26V61z"/></svg>
              <span>Download</span>
            </button>
          </a>
          <button class="font-normal py-2 px-4 hover:bg-white hover:text-blue-dark border border-white rounded outline-none focus:outline-none text-white w-3/4 flex items-center justify-center mx-auto mb-4" @click="showVideo(video.id)" v-if="!video.is_perma_failed">
            <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M255.8 112c-80.4 0-143.8 50.6-219.6 133.3-5.5 6.1-5.6 15.2-.1 21.3C101 338.3 158.2 400 255.8 400c96.4 0 168.7-77.7 220.1-134 5.3-5.8 5.6-14.6.5-20.7C424 181.8 351.5 112 255.8 112zm4.4 233.9c-53 2.4-96.6-41.2-94.1-94.1 2.1-46.2 39.5-83.6 85.7-85.7 53-2.4 96.6 41.2 94.1 94.1-2.1 46.2-39.5 83.6-85.7 85.7z"/><path d="M256 209c0-6 1.1-11.7 3.1-16.9-1 0-2-.1-3.1-.1-36.9 0-66.6 31.4-63.8 68.9 2.4 31.3 27.6 56.5 58.9 58.9 37.5 2.8 68.9-26.9 68.9-63.8 0-1.3-.1-2.6-.1-3.9-5.6 2.5-11.7 3.9-18.2 3.9-25.2 0-45.7-21.1-45.7-47z"/></svg>
            <span>View</span>
          </button>
          <button class="font-normal py-2 px-4 bg-red-light hover:bg-red rounded outline-none focus:outline-none text-white w-3/4 flex items-center justify-center mx-auto" @click="deleteVideo(video.id)">
            <svg class="h-6 w-6 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M133.1 128l23.6 290.7c0 16.2 13.1 29.3 29.3 29.3h141c16.2 0 29.3-13.1 29.3-29.3L379.6 128H133.1zm61.6 265L188 160h18.5l6.9 233h-18.7zm70.3 0h-18V160h18v233zm52.3 0h-18.6l6.8-233H324l-6.7 233zM364 92h-36l-26.3-23c-3.7-3.2-8.4-5-13.2-5h-64.8c-4.9 0-9.7 1.8-13.4 5L184 92h-36c-17.6 0-30 8.4-30 26h276c0-17.6-12.4-26-30-26z"/></svg>
            <span>Delete</span>
          </button>
          <portal to="preview" v-if="previewVisible">
            <div class="pin max-h-screen overflow-hidden h-screen fixed w-full flex flex-col items-center justify-center bg-smoke z-max" @click.self="hidePreview">
              <video class="shadow-lg" :src="activeSrc" id="video" controls="controls" style="max-width:90%;max-height:90%;" loop></video>
            </div>
          </portal>
        </div>
        <div class="absolute pin overlay flex flex-col items-center justify-center p-8" v-if='!video.is_transcoded && !video.is_perma_failed'>
          <p class="font-normal text-center text-white text-2xl flex flex-col">
            <i class="fas fa-spinner fa-spin mb-4"></i><span>Processing</span>
          </p>
        </div>
      </div>
    </div>
    <div class="em-state w-full max-w-md mx-auto mb-4 bg-white rounded border p-8 flex flex-col items-center" v-if="videos.length == 0">
      <h1 class="text-grey-darker font-thin text-3xl mb-8 text-center">You don't have any screenshots!</h1>
      <button class="hover:bg-blue font-normal text-blue hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded outline-none focus:outline-none" @click="$router.push('/dashboard/new')">
        Get started
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Screenshots',
  store: ['videos'],
  data: () => ({
    activeId: 0,
    previewVisible: false,
  }),
  computed:{
    activeSrc(){
      return this.activeId !== 0
        ? `/api/videos/preview/${this.activeId}`
        : ''
    },
    rootClass(){
      return this.videos.length > 0
        ? 'overflow-y-scroll flex-wrap'
        : 'justify-center items-center h-full'
    },
    sortedVideos(){
      return this.videos.sort((a, b) => new Date(b.created_at) - new Date(a.created_at))
    }
  },
  methods: {
    deleteVideo(id){
      axios.delete(`/api/videos/${id}`).then(data => {
        this.$message({
          message: 'Video deleted successfully.',
          type: '',
          showClose: false
        })
        this.fetchVideos()
      }).catch(error => {

      })
    },
    fetchVideos(){
      axios.get('/api/videos').then(data => {
        this.videos = data.data
      })
    },
    showVideo(id){
      this.activeId = id
      this.previewVisible = true
    },
    hidePreview(){
      this.previewVisible = false
      this.activeId = 0
    }
  },
  mounted(){
    this.fetchVideos()
  }
}
</script>

<style lang="stylus" scoped>
button
  transition all .3s ease
.video-card
  .overlay
    background rgba(39,121,189, .85)
    opacity 0
    transition all .3s ease
  &:hover
    .overlay
      opacity 1
.card-top
  height 220px
  background-position center top
  background-size cover
.em-state
  svg
    width 268px
    height 268px
</style>
