<template>
  <div class="w-full flex container px-10 lg:px-0 mx-auto p-4 py-8 overflow-y-scroll justify-center">
    <div class="flex flex-col items-center max-w-lg w-full">
      <div class="flex flex-col md:w-3/4 mx-auto">
        <div class="hover:opacity-100 w-full mb-4 bg-white rounded border">
          <div class="p-4">
            <p class="text-xl font-normal mb-8">Account Details</p>
            <form class="w-full">
              <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                  <label class="block mb-4 font-normal md:mb-0 pr-4">
                    Name / Company Name
                  </label>
                </div>
                <div class="md:w-2/3">
                  <input class="bg-khaki text-grey-darkest appearance-none border rounded w-full py-2 px-3 focus:outline-none focus:bg-white" type="text" v-model="settings.name">
                </div>
              </div>
              <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                  <label class="block mb-4 font-normal md:mb-0 pr-4">
                    Email
                  </label>
                </div>
                <div class="md:w-2/3">
                  <input class="bg-khaki text-grey-darkest appearance-none border rounded w-full py-2 px-3 focus:outline-none focus:bg-white" type="text" v-model="settings.email">
                </div>
              </div>
              <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                  <label class="block mb-4 font-normal md:mb-0 pr-4">
                    New Password
                  </label>
                </div>
                <div class="md:w-2/3">
                  <input class="bg-khaki text-grey-darkest appearance-none border rounded w-full py-2 px-3 focus:outline-none focus:bg-white" type="password" v-model="settings.password">
                </div>
              </div>
            </form>
            <button class="hover:bg-blue font-normal hover:text-white text-blue py-2 px-3 border border-blue hover:border-transparent rounded outline-none focus:outline-none table ml-auto" @click="updateAccountDetails">
              <span v-show="!updatingAccountDetails">Update</span>
              <i v-show="updatingAccountDetails" class="fas fa-spinner fa-spin"></i>
            </button>
          </div>
        </div>
        <div class="relative hover:opacity-100 w-full mb-4 bg-white rounded border">
          <div class="p-4">
            <p class="text-xl font-normal mb-8">Preferences</p>
            <form class="w-full">
              <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                  <label class="block mb-4 font-normal md:mb-0 pr-4">
                    Email Notifications
                  </label>
                </div>
                <div class="md:w-2/3 flex items-center">
                  <div>
                    <label class="checkbox">
                      <input class="hidden" type="checkbox" v-model="settings.notifications.email"/>
                      <span class="mr-2 rounded border cursor-pointer"></span>
                    </label>
                  </div>
                  <span class="font-normal"> Yes, please </span>
                </div>
              </div>
            </form>
            <button class="hover:bg-blue font-normal hover:text-white text-blue py-2 px-3 border border-blue hover:border-transparent rounded outline-none focus:outline-none table ml-auto" @click="updateAccountPreferences">
              <span v-show="!updatingAccountPreferences">Update</span>
              <i v-show="updatingAccountPreferences" class="fas fa-spinner fa-spin"></i>
            </button>
          </div>
        </div>
        <div class="relative hover:opacity-100 w-full mb-4 bg-white rounded border">
          <div class="p-4">
            <p class="text-xl font-normal mb-8">Subscription</p>
            <div class="flex w-full md:flex-no-wrap flex-wrap mb-6">
              <div class="subcard w-full relative cursor-pointer md:mb-0 mb-4 border rounded p-4 hover:bg-white" :class="subClass">
                <label class="block mb-4 text-grey-darkest font-bold">
                  Pro - $4 / month
                </label>
                <ul class="list-reset flex">
                  <li class="font-normal text-grey-darkest">Unlimited storage |</li>
                  <li class="font-normal text-grey-darkest ml-2">No watermark |</li>
                  <li class="font-normal text-grey-darkest ml-2">MP4 & WebM export</li>
                </ul>
                <stripe-checkout v-show="!user.is_subscribed"
                  formId="vue-stripe-create-starter"
                  :product="subscription"
                  button=" "
                  button-class="stripe-cover-button"
                  on-success="broadcast"
                  stripe-image="https://placehold.it/500x500"
                  :stripe-key="publishableKey">
                </stripe-checkout>
              </div>
            </div>
            <div class="flex justify-end" v-if="user.is_subscribed">
              <button class="relative hover:bg-blue font-normal hover:text-white text-blue py-2 px-3 border border-blue hover:border-transparent rounded outline-none focus:outline-none table mr-2" v-if="!user.is_on_grace">
                Update Card
                <stripe-checkout
                  formId="vue-stripe-update"
                  :product="subscriptionUpdate"
                  button-class="stripe-cover-button"
                  on-success="broadcast"
                  stripe-image="https://placehold.it/500x500"
                  :stripe-key="publishableKey">
                </stripe-checkout>
              </button>
              <button class="hover:bg-red-light font-normal hover:text-white text-red-light py-2 px-3 border border-red-light hover:border-transparent rounded outline-none focus:outline-none table" @click="cancelSubscription" v-if="!user.is_on_grace">
              Cancel Subscription
            </button>
            <p class="font-normal" v-if="user.is_on_grace">Your subscription will end {{ graceFromNow }}</p>
            </div>
          </div>
        </div>
        <button class="hover:bg-red-light bg-red-lighter font-normal text-white py-3 px-3 rounded outline-none focus:outline-none w-full" @click="deleteAccount" v-show="deleteStep == 1">
          Delete Account
        </button>
        <button class="bg-red-light font-normal text-white py-3 px-3 rounded outline-none focus:outline-none w-full" @click="deleteAccount" v-show="deleteStep == 2">
          Are you sure?
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { Bus, StripeCheckout } from 'vue-stripe'
import timeago from 'timeago.js'

export default {
  components: { StripeCheckout },
  name: 'Settings',
  store: ['bus', 'isDev', 'user'],
  data: () => ({
    isSubscribing: false,
    updatingAccountPreferences: false,
    updatingAccountDetails: false,
    deleteStep: 1,
    seriousAboutDelete: false,
    stripeBus: Bus,
    subscriptionUpdate: { name: 'Update Card', description: '' },
    settings: {
      name: '',
      email: '',
      password: '',
      notifications: {
        email: false
      }
    }
  }),
  computed: {
    subscription(){
      let sub = { amount: 400, name: 'Pro Subscription'}
      sub.plan = this.isDev ? 'plan_Dkd2pH4S5cefSv' : 'plan_EBGATnrnStROLq'
      return sub
    },
    canUpdateAccountDetails(){
      return (this.settings.email !== this.user.email) || (this.settings.password !== '')
        || (this.settings.name !== this.user.name)
    },
    canUpdateAccountPreferences(){
      return (this.settings.notifications.email !== this.user.preferences.notifications.email)
    },
    graceFromNow(){
      return this.user.grace_end ? timeago().format(new Date(this.user.grace_end.date)) : false
    },
    publishableKey(){
      return this.isDev ? 'pk_test_p2w0e7gZkOXPZtPfeKBnME6z' : 'pk_live_Mndh2jqFmpmO9Nqv9Uw3QkdX'
    }
  },
  methods: {
    cancelSubscription(){
      axios.delete('/api/subscription').then(response => {
        this.$message({
          message: 'Your subscription has been cancelled.',
          type: '',
          showClose: false
        })
        this.bus.$emit('fetchUser')
      })
    },
    deleteAccount(){
      if(this.deleteStep == 2){
        this.seriousAboutDelete = true
      }
      if(this.deleteStep == 2 && this.seriousAboutDelete){
        this.isDeleting = true
        axios.delete('/api/user').then(response => {
          this.$message({
            message: 'Your account has been successfully deleted.',
            type: '',
            showClose: false
          })
          setTimeout(() => {
            document.location.replace('/')
          }, 1500)
        })
      }
      if(this.deleteStep == 1){
        this.deleteStep = 2
        setTimeout(() => {
          if(!this.seriousAboutDelete){
            this.deleteStep = 1
          }
        }, 5000)
      }
    },
    updateAccountDetails(){
      if(this.canUpdateAccountDetails){
        let data = {}
        if(this.settings.name !== this.user.name){
          data.name = this.settings.name
        }
        if(this.settings.email !== this.user.email){
          data.email = this.settings.email
        }
        if(this.settings.password !== ''){
          data.password = this.settings.password
        }
        this.updatingAccountDetails = true
        axios.post('/api/user/settings', data).then(response => {
          this.updatingAccountDetails = false
          this.$message({
            message: 'Your account details have been updated.',
            type: '',
            showClose: false
          })
          this.bus.$emit('fetchUser')
          this.settings.password = ''
        })
      }
    },
    updateAccountPreferences(){
      if(this.canUpdateAccountPreferences){
        let preferences = this.user.preferences
        if(this.settings.notifications.email !== this.user.preferences.notifications.email){
          preferences.notifications.email = this.settings.notifications.email
        }
        const data = { preferences }
        this.updatingAccountPreferences = true
        axios.post('/api/user/settings', data).then(response => {
          this.updatingAccountPreferences = false
          this.$message({
            message: 'Your account preferences have been updated.',
            type: '',
            showClose: false
          })
          this.bus.$emit('fetchUser')
        })
      }
    },
    subClass(){
      return this.user.is_subscribed ? 'bg-white' : 'bg-khaki'
    }
  },
  mounted(){
    this.settings.name = this.user.name
    this.settings.email = this.user.email
    this.settings.notifications.email = this.user.preferences.notifications.email
    this.stripeBus.$on('vue-stripe.success', payload => {
      const data = { token: payload.token }
      this.isSubscribing = true
      if(!this.isSubscribing){
        if(payload.formId.includes('vue-stripe-create')){
          data.plan = this.subscription.plan
          axios.post('/api/subscription', data).then(response => {
            this.bus.$emit('fetchUser')
            this.$message({
              message: 'Congratulations! Your account has been upgraded.',
              type: '',
              showClose: false
            })
            this.isSubscribing = false
          })
        } else if(payload.formId == 'vue-stripe-update'){
          axios.post('/api/subscription/card', data).then(response => {
            this.bus.$emit('fetchUser')
            this.$message({
              message: 'Your card has been updated.',
              type: '',
              showClose: false
            })
          })
          this.isSubscribing = false
        }
      }
    })
  }
}
</script>

<style lang="stylus" scoped>
.subcard
  transition all .3s ease

#vue-stripe-create, #vue-stripe-update
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  opacity 0 !important

.checkbox span {
  width: 18px;
  height: 18px;
  display: block;
  background: #F9F9FB;
}

.checkbox input:checked + span {
    background: #636b6f;
}
</style>
